[Desktop Entry]
Type=Application
Name=LLM Thalamus
Comment=Local AI assistant interface
Exec=llm-thalamus
Icon=/usr/share/llm-thalamus/graphics/llm_thalamus.svg
Terminal=false
Categories=Utility;ArtificialIntelligence;Chat;
StartupNotify=true